<div class="hsa-modal">
  <div class="hsa-modal__backdrop">&nbsp;</div>
  <div class="hsa-modal__content">
    <button class="hsa-modal__close" aria-label="Close modal">×</button>
    <h2 class="hsa-modal__title">
      Unlock Wellness with IM8,<br />
      Now HSA/FSA-Eligible
    </h2>
    <p class="hsa-modal__description">
      IM8 has partnered with Truemed to provide an innovative way to use your
      Health Savings Account (HSA) or Flexible Spending Account (FSA) toward IM8
      products.*
    </p>

    <ol class="hsa-modal__steps">
      <li>
        <strong>Purchase your IM8 favorites</strong>
        <p>
          Complete your purchase as usual. Both subscriptions and one-time
          purchases qualify.
        </p>
      </li>
      <li>
        <strong>Submit your receipt</strong>
        <p>
          After your purchase, you will receive an email with a link to submit
          your receipt to Truemed. You can also submit your receipt directly on
          the Truemed website.
        </p>
      </li>
      <li>
        <strong>Get reimbursed</strong>
        <p>
          If eligible, you’ll receive a Letter of Medical Necessity, allowing
          you to use your HSA/FSA for reimbursement. Truemed will follow up with
          instructions on submitting your reimbursement via the email address
          provided. More than 98% of applicants are approved.
        </p>
      </li>
    </ol>
    <p class="hsa-modal__disclaimer">
      *Truemed eligibility and approval are required. IM8 does not guarantee
      eligibility and is not responsible for approval.
    </p>
  </div>
</div>
<div class="product-buy-sticky-container product-buy-sticky--hidden">
  <div class="page-width product-buy-sticky__inner">
    <div class="product-details">
      <div class="product-image-container">
        <img
          src="//im8health.com/cdn/shop/files/pdp_essentials-sachet_carousel01.jpg?v=1761040602&amp;width=500"
          alt="Daily Ultimate Essentials: All-in-One Supplement"
          srcset="
            //im8health.com/cdn/shop/files/pdp_essentials-sachet_carousel01.jpg?v=1761040602&amp;width=352 352w,
            //im8health.com/cdn/shop/files/pdp_essentials-sachet_carousel01.jpg?v=1761040602&amp;width=500 500w
          "
          width="500"
          height="500"
          class="product-image"
        />
        <div class="image-glow"></div>
      </div>

      <div
        class="product-title"
        data-title="Daily Ultimate Essentials: All-in-One Supplement"
      >
        Daily Ultimate Essentials: All-in-One Supplement

        <div
          class="product-title__variant"
          data-title="Daily Ultimate Essentials: All-in-One Supplement"
        >
          (Forever Jar)
        </div>
      </div>
    </div>

    <div class="right-aligned">
      <div class="custom-dropdown" id="sticky-buy-dropdown">
        <div class="dropdown-selected" id="sticky-buy-selected">
          <div class="dropdown-selected__title">90-Day Supply</div>
          <div class="dropdown-selected__price-per-serving"></div>
          <span class="dropdown-arrow"></span>
        </div>

        <ul class="dropdown-options dropdown-up" id="sticky-buy-options">
          <li
            class="dropdown-option dropdown-option--quarterly"
            data-option-value-id="5658043252903"
            data-variant-id="47315076022439"
            data-title="Quarterly Subscription"
            data-alt-name="90-Day Supply"
            data-quarterly="true"
          >
            90-Day Supply
          </li>
          <li
            class="dropdown-option dropdown-option--double-sub"
            data-option-value-id="5316462870695"
            data-variant-id="46954316955815"
            data-title="Double Subscription"
            data-alt-name="60-Day Supply"
            data-double-subscription="true"
          >
            60-Day Supply
          </li>
          <li
            class="dropdown-option"
            data-option-value-id="4599807738023"
            data-variant-id="46073779257511"
            data-title="Subscription"
            data-alt-name="30-Day Supply"
          >
            30-Day Supply
          </li>
        </ul>
      </div>

      <button class="product-buy-sticky__button" data-preorder="false">
        <span class="text-desktop"
          >Add to cart<span class="button-text-price"></span
        ></span>
        <span class="text-mobile">Add</span>
      </button>
    </div>
  </div>
</div>
<div class="overlay"></div>
<div
  id="shopify-section-sections--17653237252263__footer"
  class="shopify-section shopify-section-group-footer-group Footer_new"
>
  <link
    href="//im8health.com/cdn/shop/t/121/assets/section-footer.css?v=7528636347339157371745576001"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <link
    href="//im8health.com/cdn/shop/t/121/assets/component-newsletter.css?v=83907042709277198281751441537"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <link
    href="//im8health.com/cdn/shop/t/121/assets/component-list-menu.css?v=151968516119678728991728527449"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <link
    href="//im8health.com/cdn/shop/t/121/assets/component-list-payment.css?v=69253961410771838501728527449"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <link
    href="//im8health.com/cdn/shop/t/121/assets/component-list-social.css?v=35792976012981934991728527448"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <footer
    id="footer"
    class="footer color-scheme-2 gradient section-sections--17653237252263__footer-padding Footer_main_new"
  >
    <div class="page-width">
      <div class="footer__content-top Footer_1_new">
        <div
          class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet grid--3-col-tablet Footer_1_loops_new"
        >
          <div
            class="footer-block grid__item footer-block--menu footer-block--menu_1 Footer_1_loops_boxs_new"
          >
            <h2 class="footer-block__heading inline-richtext active">Shop</h2>
            <div
              class="footer-block__details-content footer-menu-name-Shop"
              style="display: block"
            >
              <ul class="list-unstyled">
                <li>
                  <a
                    href="/collections/premium-core-nutrition"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Premium Core Nutrition
                  </a>
                </li>
                <li>
                  <a
                    href="/products/beckhamstack"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    The Beckham Stack
                  </a>
                </li>
                <li>
                  <a
                    href="/collections/merchandise"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Merchandise
                  </a>
                </li>
                <li>
                  <a
                    href="/collections/all"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Shop All
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="footer-block grid__item footer-block--menu footer-block--menu_2 Footer_1_loops_boxs_new"
          >
            <h2 class="footer-block__heading inline-richtext">Company</h2>
            <div class="footer-block__details-content footer-menu-name-Company">
              <ul class="list-unstyled">
                <li>
                  <a
                    href="/pages/about-us"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    About Us
                  </a>
                </li>
                <li>
                  <a
                    href="/pages/science"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Science
                  </a>
                </li>
                <li>
                  <a
                    href="/pages/impact"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Impact
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="footer-block grid__item footer-block--menu footer-block--menu_3 Footer_1_loops_boxs_new"
          >
            <h2 class="footer-block__heading inline-richtext">Learn</h2>
            <div class="footer-block__details-content footer-menu-name-Learn">
              <ul class="list-unstyled">
                <li>
                  <a
                    href="/pages/wall-of-health"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Reviews
                  </a>
                </li>
                <li>
                  <a
                    href="/pages/ingredients"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Ingredients
                  </a>
                </li>
                <li>
                  <a
                    href="https://im8health.com/pages/quality"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Quality and Standards
                  </a>
                </li>
                <li>
                  <a
                    href="/pages/im8-affiliate"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    IM8 Inner Circle
                  </a>
                </li>
                <li>
                  <a
                    href="/pages/im8-vs-ag1-the-ultimate-foundational-supplement-showdown"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    IM8 vs AG1 Next Gen
                  </a>
                </li>
                <li>
                  <a
                    href="/pages/im8-vs-live-it-up-super-greens"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    IM8 vs Live it Up Super Greens
                  </a>
                </li>
                <li>
                  <a
                    href="/pages/im8-vs-bloom-greens-superfoods"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    IM8 vs Bloom Greens &amp; Superfoods
                  </a>
                </li>
                <li>
                  <a
                    href="/pages/im8-vs-huel-daily-greens"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    IM8 vs Huel Daily Greens
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="footer-block grid__item footer-block--menu footer-block--menu_4 Footer_1_loops_boxs_new"
          >
            <h2 class="footer-block__heading inline-richtext">Support</h2>
            <div class="footer-block__details-content footer-menu-name-Support">
              <ul class="list-unstyled">
                <li>
                  <a
                    href="/pages/frequently-asked-questions"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    FAQs
                  </a>
                </li>
                <li>
                  <a
                    href="https://track.im8health.com/"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Track My Order
                  </a>
                </li>
                <li>
                  <a
                    href="/pages/frequently-asked-questions#category-197117"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Returns / Exchanges
                  </a>
                </li>
                <li>
                  <a
                    href="/pages/contact-us"
                    class="link link--text list-menu__item list-menu__item--link"
                  >
                    Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="footer-block grid__item footer-block--menu footer-block--menu_5 Footer_1_loops_boxs_new"
          >
            <h2 class="footer-block__heading inline-richtext">IM8 Community</h2>
            <div
              class="footer-block__details-content footer-menu-name-IM8 Community"
            >
              <ul class="list-unstyled">
                <li>
                  <a
                    href="https://www.instagram.com/im8health/"
                    class="link link--text list-menu__item list-menu__item--link"
                    target="_blank"
                  >
                    Instagram
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.facebook.com/profile.php?id=61561899512549&amp;sk=about_details"
                    class="link link--text list-menu__item list-menu__item--link"
                    target="_blank"
                  >
                    Facebook
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.tiktok.com/@im8health"
                    class="link link--text list-menu__item list-menu__item--link"
                    target="_blank"
                  >
                    TikTok
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/@im8health"
                    class="link link--text list-menu__item list-menu__item--link"
                    target="_blank"
                  >
                    YouTube
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.pinterest.com/im8health/"
                    class="link link--text list-menu__item list-menu__item--link"
                    target="_blank"
                  >
                    Pinterest
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-block--newsletter Footer_1_newsletter_main_new">
          <div class="Footer_1_newsletter_mainboth_new">
            <div class="Footer_1_newsletter_innerboth_new">
              <div class="Footer_1_newsletter_innerboth_videoimage_new">
                <video
                  playsinline="playsinline"
                  class="Custom_video_new"
                  autoplay="autoplay"
                  loop="loop"
                  muted="muted"
                  preload="metadata"
                  poster="//im8health.com/cdn/shop/files/preview_images/fbf49de132784b63b1209cf9f32ce77d.thumbnail.0000000000.jpg?v=1724177472"
                >
                  <source
                    src="//im8health.com/cdn/shop/videos/c/vp/fbf49de132784b63b1209cf9f32ce77d/fbf49de132784b63b1209cf9f32ce77d.HD-720p-2.1Mbps-33478040.mp4?v=0"
                    type="video/mp4"
                  />
                  <img
                    src="//im8health.com/cdn/shop/files/preview_images/fbf49de132784b63b1209cf9f32ce77d.thumbnail.0000000000.jpg?v=1724177472"
                  />
                </video>
              </div>
            </div>
          </div>
          <div class="footer-block__newsletter Footer_1_newsletter_inner_new">
            <div class="Footer_1_newsletter_title_new">
              <h4>Join the community for exclusive wellness insights</h4>
            </div>
            <form
              method="post"
              action="/contact#ContactFooter"
              id="ContactFooter"
              accept-charset="UTF-8"
              class="footer__newsletter newsletter-form"
            >
              <input type="hidden" name="form_type" value="customer" /><input
                type="hidden"
                name="utf8"
                value="✓"
              /><input type="hidden" name="contact[tags]" value="newsletter" />
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--sections--17653237252263__footer"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value=""
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    placeholder="Email Address"
                    required=""
                  />
                  <label
                    class="field__label"
                    for="NewsletterForm--sections--17653237252263__footer"
                  >
                    Email Address
                  </label>
                  <button
                    type="submit"
                    class="newsletter-form__button field__button"
                    name="commit"
                    id="Subscribe"
                    aria-label="Join Now"
                  >
                    Join Now
                  </button>
                </div>
              </div>
            </form>
            <div class="Footer_1_newsletter_texts_new">
              <p>
                *By joining, you'll receive our wellness insights and can
                unsubscribe anytime.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="Footer_2_new">
        <div class="Footer_2_sides_new">
          <div class="Footer_2_sides_mainlogos_new">
            <div class="Footer_2_sides_innerlogos_new">
              <img
                src="//im8health.com/cdn/shop/files/IM8_Logo-R_Pink.svg?v=1729137155"
                alt=""
                srcset="
                  //im8health.com/cdn/shop/files/IM8_Logo-R_Pink.svg?v=1729137155&amp;width=750 750w,
                  //im8health.com/cdn/shop/files/IM8_Logo-R_Pink.svg?v=1729137155&amp;width=900 900w
                "
                width="1052"
                height="272"
                fetchpriority="auto"
                class="Logo_image_new"
              />
            </div>
          </div>
          <div class="Footer_2_sides_mainbottom_new">
            <div class="Footer_2_sides_innerbottom_new">
              <div class="Footer_2_sides_innerbottom_copyright_new">
                © 2026 IM8<sup>®</sup>
              </div>
              <div
                class="Footer_2_sides_innerbottom_menulists_new Desktop_only_new"
              >
                <ul class="menu">
                  <li class="menu-link">
                    <a href="/pages/privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="menu-link">
                    <a href="/pages/terms-of-service">Terms of Service</a>
                  </li>
                </ul>
              </div>
              <div
                class="Footer_2_sides_innerbottom_menulists_new Mobile_only_new"
              >
                <ul class="menu">
                  <li class="menu-link">
                    <a href="/pages/privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="menu-link">
                    <a href="/pages/terms-of-service">Terms of Service</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="Footer_2_sides_banner_claim_container">
            <div class="Footer_2_sides_banner_claim_content">
              <p>
                *These statements have not been evaluated by the Food and Drug
                Administration. This product is not intended to diagnose, treat,
                cure or prevent any disease.
              </p>
            </div>
            <div class="Footer_2_sides_banner_claim_content_2">
              **Free Welcome Kit available for new subscribers only.
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<section
  id="shopify-section-sections--17653237252263__custom_liquid_YJhg4h"
  class="shopify-section shopify-section-group-footer-group section"
>
  <div class="color-scheme-1 gradient">
    <div class="section-sections--17653237252263__custom_liquid_YJhg4h-padding">
    </div>
  </div>
</section>
<ul hidden="">
  <li id="a11y-refresh-page-message">
    Choosing a selection results in a full page refresh.
  </li>
  <li id="a11y-new-window-message">Opens in a new window.</li>
</ul>
<div
  class="hb_popup Product_template_latest_rightside_loops_new"
  js-hb-popup=""
>
  <div class="hb_popup__wraper" js-product-detail=""></div>
</div>
<div
  id="shopify-block-AVElYbHJnemxjbVVrN__10840395464443086010"
  class="shopify-block shopify-app-block"
></div>
