<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="theme-color" content="" />

<link
  rel="preload"
  href="https://d3k81ch9hvuctc.cloudfront.net/company/SGuisG/images/027e0e48-6104-427b-af3d-9030ac2eeaa9.png"
  as="image"
/>

<link
  rel="icon"
  type="image/png"
  href="//im8health.com/cdn/shop/files/im8health_favicon.svg?crop=center&height=32&v=1731677217&width=32"
/>

<!-- Resource Hints -->
<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin />
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin />
<link
  rel="preload"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
  as="script"
/>
<link
  rel="prefetch"
  href="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
  as="script"
  crossorigin
/>
<link
  rel="prefetch"
  href="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.cells.min.js"
  as="script"
  crossorigin
/>

<title>
  IM8 Daily Ultimate Essentials: 92 Nutrients in One Delicious Drink &ndash; IM8
  Health
</title>

<!-- Main Stylesheet -->
<link rel="stylesheet" href="styles.css" />

<!-- UI & Component Stylesheets -->
<link
  href="//im8health.com/cdn/shop/t/121/assets/base.min.css?v=180717044654383013601737337783"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/component-cart-items.min.css?v=132808012441169133081767503369"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/component-cart-drawer.css?v=65129238303803118121767235248"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/component-cart.css?v=165982380921400067651728527448"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/component-totals.css?v=15906652033866631521728527448"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/component-price.css?v=11754036113702171051728527448"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/component-discounts.css?v=152760482443307489271728527449"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/quantity-popover.css?v=78745769908715669131728527448"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/component-card.css?v=60314920803325581341763051645"
  rel="stylesheet"
  type="text/css"
  media="all"
/>

<link
  rel="preload"
  as="font"
  href="//im8health.com/cdn/fonts/assistant/assistant_n4.9120912a469cad1cc292572851508ca49d12e768.woff2"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  href="//im8health.com/cdn/fonts/assistant/assistant_n4.9120912a469cad1cc292572851508ca49d12e768.woff2"
  type="font/woff2"
  crossorigin
/>

<link
  href="//im8health.com/cdn/shop/t/121/assets/swiper-bundle.min.css?v=53171230990283396161728527448"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/custom.min.css?v=105640938284802068931764153949"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/custom2.css?v=114474178920861276411733376116"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/global.css?v=57551525431290219061769667661"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/component-menu-drawer.css?v=126042853005206838261731405558"
  rel="stylesheet"
  type="text/css"
  media="all"
/>

<!-- Accessibility Styles -->
<link
  href="//im8health.com/cdn/shop/t/121/assets/accessibility.css?v=154343582352415644751767336099"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<link
  href="//im8health.com/cdn/shop/t/121/assets/component-localization-form.min.css?v=158625095722140263201732610880"
  rel="stylesheet"
  type="text/css"
  media="all"
/>

<!-- UI Interaction Scripts -->
<script src="https://c.albss.com/p/l/loader.iife.js" async=""></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/localization-form.js?v=144176611646395275351728527450"
defer="defer"
></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/constants.js?v=71597268183378752261732072954"
defer="defer"
></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/pubsub.js?v=158357773527763999511728527450"
defer="defer"
></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/mobile-performance.js?v=73409860031713592181768366441"
defer="defer"
></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/product-form.js?v=2051695091139469241767781077"
defer="defer"
></script>
<script
  src="//im8health.com/cdn/shop/t/121/assets/global.js?v=97877559066876142231768977089"
  defer="defer"
  ></script>
  <script
  src="//im8health.com/cdn/shop/t/121/assets/page-transitions.js?v=40811460022224770221762185673"
  defer="defer"
  ></script>
  <script
  src="//im8health.com/cdn/shop/t/121/assets/details-disclosure.js?v=134296819807801977191728527449"
  defer="defer"
  ></script>
  <script
  src="//im8health.com/cdn/shop/t/121/assets/details-modal.js?v=25581673532751508451728527450"
  defer="defer"
  ></script>
  <script
  src="//im8health.com/cdn/shop/t/121/assets/search-form.js?v=133129549252120666541728527449"
  defer="defer"
  ></script>
  <script
  src="//im8health.com/cdn/shop/t/121/assets/custom.js?v=80075477180356627961749731588"
  defer="defer"
  ></script>
  <script
  src="//im8health.com/cdn/shop/t/121/assets/jquery.js?v=74688198364983996821732092229"
  defer="defer"
  ></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/marquee.js?v=73940284476254774141732092229"
defer="defer"
></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/call-to-action-purchase.js?v=87274142242355326801751109505"
defer
></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/accessibility.js?v=175677302665901117391767337629"
defer="defer"
></script>
<script
src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
defer
></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/beckham-stack-popup.js?v=51760086457612606781764243453"
defer=""
></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/product-modal.js?v=111590159012861533831764243457"
defer="defer"
></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/media-gallery.js?v=60583854866485040501768214224"
defer="defer"
></script>
<script
src="//im8health.com/cdn/shop/t/121/assets/product-form.js?v=2051695091139469241767781077"
defer=""
></script>
<script type="module" src="./script.js"></script>
